rules_version = '2';
service firebase.storage {
match /b/{bucket}/o {
match /{allPaths=**} {
// Allow all access in the emulator environment
allow read, write: if true;
}
}
}